<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Graph</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active">Graph</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
            <div class="card">



                <div class="row" style="text-align: center; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
                    <div class="col-1">
                        <p>ค้นหา</p>

                    </div>
                    <div class="col-2">
                        
                        <input [formControl] = "dt" id="date" name="date" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>

                    <div class="col-3">
                        <button (click)="dateSelect()" class="btn btn-info">ค้นหาแบบวัน</button>
                       
                    </div>
                    
                
                </div>




                
                <div class="row">

                    <div class="col-2">

                        <button (click)="export()"class="btn btn-info">Export CSV</button>
                    </div>

                </div>




                <div class="row" style="padding: 20px; margin: 20px;" >

                    <div class="col-6" style="text-align: center; margin:0 auto;">

                        <div id="chartContainerPM25" style="height: 500px; width: 100%;"></div>

                    </div>

                    <div class="col-6" style="text-align: center; margin:0 auto;">

                        <div id="chartContainerTemp" style="height: 500px; width: 100%;"></div>

                    </div>
                </div>
                <div class="row" style="padding: 20px; margin: 20px;" >
                    <div class="col-6">
                        <img  width="75%" src="assets/images/aqi.jpeg" alt="" srcset="">
                    </div>

                </div>

               
            </div>
        </div>
    </div>
</section>